/**********************
    UNIVERSAL
**********************/
body {
    margin: 0;
    padding: 0;
    /*background-color: #231d1e;*/
    background: #E3B3C1;
    background: linear-gradient(0deg, rgba(35, 29, 30, 1) 0%, rgba(231, 248, 245, 1) 100%);
}
.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}
.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1 {
    font-family: "New Rocker";
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 70px;
    text-align: center;
    color: rgb(27, 66, 54);
}
h2 {
    font-family: "New Rocker";
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 38px;
}
h3 {
    font-family: "Jacquard 24";
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 48px;
}
h4 {
    font-family: "New Rocker";
    margin: 0;
    padding: 0px 0px;
    font-size: 32px;
}
p {
    font-family: "Jacquard 24";
    margin: -10px;
    padding: 0;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 3px #fff, -2px -2px 3px #fff;
    color: rgb(27, 66, 54);
}
a {
    font-family: "New Rocker";
    text-decoration: none;
    color: #e8c8c8;
    background-color: rgba(6, 52, 63, 0.8);
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 20px;
}

/**********************
    SPECIFIC
**********************/

/*------ HEADER ------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    height: 6vh;
    background: #e8c8c8;
    background: linear-gradient(135deg, rgba(232, 200, 200, 1) 0%, rgba(167, 201, 214, 1) 50%, rgba(125, 186, 144, 1) 100%);
}
.nav-buttons {
    display: flex;
    justify-content: space-around;
}
/*------ HERO ------*/
.hero {
    margin: 5vh;
    height: 85vh;
    background-image: url(img/outside.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    border: solid 2px #ebebeb;
}

/*------ SPECIAL ------*/
.special {
    height: 40vw;
    border: solid 1px aqua;
}
.specialContainer {
    display: flex;
}

/*------ ABOUT ------*/
article {
    height: 40vw;
    border: solid blue 1px;
}

/*------ CONTACT ------*/
#contact {
    height: 40vw;
    border: solid red 1px;
}

/*------ FOOTER ------*/
footer {
    height: 8vh;
    border: solid green 1px;
}